.container__modalCreate {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.line1__modalCreate {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.close__modalCreate {
  cursor: pointer;
  font-weight: 800;
}

@media (max-width: 765px) {
  .ReactModal__Content--after-open {
    width: 100% !important;
    margin-left: -131px !important;
    height: 100%;
    top: 0% !important;
  }
  .line1__modalCreate {
    justify-content: center;
  }
}
