.home__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row__navers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 95%;
  margin-top: 60px;
}

.row__navers h1 {
  font-size: 40px;
}

.newNaver {
  color: inherit;
  text-decoration: none;
  font-weight: 700;
  border: 1px solid black;
  padding: 10px 20px;
  color: #fff;
  background: #212121;
}

.navers {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-top: 30px;
}

.row__cards {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.navers__data h4 {
  font-weight: 500;
}

.card {
  width: 25%;
  margin-right: 15px;
  display: block;
  flex-direction: column;
}

.avatar {
  width: 100%;
  cursor: pointer;
}

.navers__data h3 {
  margin-top: 15px;
  cursor: pointer;
}

.navers__data h4 {
  margin-top: 15px;
}

.handles {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.icons {
  margin-right: 20px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
